.main-sign-in {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF;
    height: 554px;
    width: 392px;
    border-radius: 20px;
    filter: drop-shadow(#474749 5px 5px 20px);

}

.container-form h1 {
    font-size: 34px;
    margin: 70px 0;
    color: #0f447e;

}

.container-form input {
    width: 220px;
    height: 48px;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 40px;
    padding: 0 10px;
}

.container-form button {
    height: 36px;
    width: 87px;
    background-color: #007DFF;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

.container-cadastro {
    margin-top: 30px;
    display: flex;
    gap: 3px;
}

.container-form input:hover {
    border-bottom: 2px solid #1f1cec;
}

.btn-error-singIn {
    margin: 0 0 20px 0;
}